* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    min-height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    background-size: cover;
    background-image: url(../img/vecteezy_blue-abstract-background-blue-background-design-abstract_17023139-1.jpg);
    background-repeat: no-repeat;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid #333333;
    padding-bottom: 10px;
    background-color: #333333;
    color: white;
    height: 10vh;
    justify-content: space-between;
    padding: 20px 40px;
}

nav img {
    width: 8%;
    height: 8%;
    border: 1px solid white;
    border-radius: 50%;
}

nav .nav-logo {
    display: flex;
    gap: 30px;
}

nav .nav-logo div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav .nav-bar {
    display: flex;
    gap: 20px;
}

nav .nav-bar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: ease-in-out 0.2s all;
}

nav .nav-bar a:hover {
    color: lightgreen;
}
