* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    height: 100vh;
    background-size: cover;
    background-image: url(img/vecteezy_blue-abstract-background-blue-background-design-abstract_17023139-1.jpg);
    background-repeat: no-repeat;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid #333333;
    padding-bottom: 10px;
    background-color: #333333;
    color: white;
    height: 10vh;
    justify-content: space-between;
    padding: 20px 40px;
}

nav img {
    width: 8%;
    height: 8%;
    border: 1px solid white;
    border-radius: 50%;

}

nav .nav-logo {
    display: flex;
    gap: 30px;
}

nav .nav-logo div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav .nav-bar {
    display: flex;
    gap: 20px;
}

nav .nav-bar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: ease-in-out 0.2s all;
}

nav .nav-bar a:hover {
    color: lightgreen;
}

.content-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    margin-left: 75px;
}

.content-center .box {
    width: 55vw;
    height: 30vh;
    color: white;
}

.content-font {
    margin-left: 25px;
}

.content-font h1 {
    font-size: 100px;
}

.content-font p {
    font-size: 25px;
}

.content-contains {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 150px;
}

.content-contains div {
    width: 300px;
    height: 350px;
}

.content-contains img {
    max-width: 350px;
    max-height: 350px;
    border: 1px solid white;
    border-radius: 15px;
}